<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/api_call_json_style.css" rel = "stylesheet">
</head>
<body>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <td>First name _</td>
            <td>Last name ^</td>
            <td>Email $</td>
            <td>Gender }</td>
            <td>Mobileno {</td>
            <td>City #</td>
        </tr>

        <tr>
            <td colspan="6">
                <form>
                    <input type="text" placeholder="Enter expression" name="expression" style="width: 90%" <%if(exp!=""){%> value = <%=exp%><%}%>>
                    <input type="submit" value="GO">
                </form>
            </td>
        </tr>
    </table>

    <div style="margin: auto; width: fit-content;">
        <%- include('components/grid', {table: table}); %>
    </div>
</body>
</html>